node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
*.zip
*.tar.gz
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
*.swp
*.swo
*.bak
*.tmp
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.npmignore
*.yarnignore
*.local
CLAUDE.md
